html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}

.nav {
  font-size: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 10vh;
}

.nav a {
  height: 100%;
  color: black;
  border: 1px solid #666;
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home,
.timer {
  font-size: 300%;
  background-color: rgba(156, 107, 186, 0.72);
  height: 90vh;
  width: 100vw;
  text-align: center;
}

.timerTop {
  height: 60vh;
}

.counter {
  font-size: 50%;
  margin: 0;
}

.startStop {
  background-color: transparent;
  font-size: 80%;
  height: 40vh;
  width: 70vw;
  border: 2px solid black;
  border-radius: 50%;
  margin-top: 5vh;
}

.averages {
  font-size: 55%;
}

.laps {
  height: 26.2vh;
  list-style: none;
  padding-left: 0;
  background-color: #333333;
  font-size: 50%;
  overflow: scroll;
}

.contraction {
  border-bottom: 1px solid #555555;
  color: #aaaaaa;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.nbl {
  background-color: rgba(156, 107, 186, 0.72);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}

.nblButton {
  background-color: #e4e2e2;
  font-size: 200%;
  border: 2px solid black;
  border-radius: 10px;
  height: 18vh;
  width: 84vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.submitform {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.or {
  font-size: 80%;
  align-self: center;
}

select {
  border: 1px solid gray;
}

form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.submit {
  background-color: rgba(156, 107, 186, 0.72);
  border: 1px solid #666;
  border-radius: 4px;
}
