html {
  height: 100%;
}
body {
  background-color: black;
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding-top: 30px;
}

h1,
h2,
h3,
span,
label,
.profilebutton,
.startStop,
.counter,
.babybutton,
.createBabyButton {
  font-family: Pathway Gothic One, sans-serif;
H1, H2, H3, span, label, .profilebutton, .startStop, .counter, .babybutton, .createBabyButton {
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
}

p {
  font-family: 'Cormorant', serif;
  font-size: large;
}

#root {
  height: 650px;
  width: 360px;
}

.wrapper,
.homescreen,
.main {
  height: 100%;
  width: 100%;
}

div.log {
  width: 100%;
  height: 100%;
  background-color: #b3dec1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../data/BabySizes/mothernative1.png");
  background-size: 77% 45%;
  background-repeat: no-repeat;
  background-position: 50% 75%;
}

.log,
h1 {
  margin-bottom: 0;
}

.mothernative {
  font-family: "Satisfy", cursive;
  text-transform: lowercase;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 300px;
  height: 85px;
  text-align: center;
  font-size: 300%;
}

.loginbtn {
  background-color: #daa38b;
  font-size: 100%;
  border: 2px solid black;
  border-radius: 10px;
  height: 10%;
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav {
  background-color: #b3dec1;
  font-size: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 10%;
}

.nav a {
  height: 100%;
  color: black;
  border: 0.5px solid #666;
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-left: 2px;
  padding-right: 2px;
}

.home,
.timer {
  font-size: 300%;
  background-color: #f7f7f7;
  height: 90%;
  width: 100%;
  text-align: center;
}

.facts {
  width: 100%;
  height: 100%;
  background-color: rgba(218, 163, 140, .8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.fact {
  text-transform: none;
  font-family: 'Cormorant';
  color: rgba(247, 247, 247, .8);
  font-size: 60%;
  padding: 0 5px;
}

.timerTop {
  height: 56%;
  padding-bottom: 0;
}

.counter {
  font-size: 50%;
  margin: 0;
  padding: 20px 0;
}

.startStop {
  background-color: #b3dec1;
  font-size: 80%;
  height: 75%;
  width: 70%;
  border: 2px solid black;
  border-radius: 50%;
}

#active {
  background-color: #daa38b;
}

.timestamp {
  color: #f7f7f7;
}

.duration {
  color: #f7f7f7;
}

.averages {
  font-size: 45%;
  margin: 0;
}

.dropContractionLog {
  background-color: #daa38b;
  font-size: 50%;
  margin: 0;
  border-top: 1px solid #666;
  padding-top: 4px;
  height: 7%;
}

.laps {
  height: 30%;
  list-style: none;
  padding-left: 0;
  background-color: #3a405a;
  font-size: 50%;
  overflow: scroll;
  margin-top: 10px;
  margin-bottom: 0;
}

.contraction {
  border-bottom: 1px solid #555555;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.nbl {
  background-color: #e8d2ae;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;
}

.nblButton {
  background-color: #daa38b;
  font-size: 200%;
  border: 2px solid black;
  border-radius: 10px;
  height: 18%;
  width: 84%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.breast {
  font-family: Cormorant, serif;
  height: 25px;
}

.bottle {
  font-family: Cormorant, serif;
  height: 25px;
}

.notes {
  font-family: Cormorant, serif;
}

.submitform {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.or {
  font-size: 80%;
  align-self: center;
}

select {
  border: 1px solid gray;
}

form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.submit {
  font-family: Cormorant, serif;
  background-color: #b3dec1;
  border: 1px solid #666;
  border-radius: 4px;
  height: 25px;
  font-size: initial;
}

.buttonfeed {
  font-size: small;
}

.submittwo {
  width: 100px;
  font-family: Cormorant, serif;
  background-color: #b3dec1;
  border: 1px solid #666;
  border-radius: 4px;
  height: 25px;
  font-size: initial;
}

.profile {
  background-color: #f7f7f7;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.profile h1 {
  font-size: 200%;
  padding-top: 10px;
  margin-top: 0;
  padding-left: 10px;
}

.profile h2 {
  flex-basis: 100%;
  text-align: center;
}

.image {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profileupload {
  margin-bottom: 10px;
}

.wallpaper {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.babyprof {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.babyprof p {
  margin: 10px 0;
  flex-basis: 50%;
  font-size: 130%;
}

.babyprof a {
  background-color: #e4e2e2;
  border: 1px solid #666;
  text-decoration: none;
  color: black;
  text-align: right;
  padding: 4px 6px;
}

.babyprofs {
  padding-left: 7px;
  padding-right: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilebutton {
  background-color: #daa38b;
  font-size: 100%;
  border: 2px solid black;
  border-radius: 10px;
  height: 18%;
  width: 35%;
}

.baby {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.babyList {
  list-style: none;
  padding-left: 0px;
  width: 90%;
  height: 230px;
  overflow: scroll;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  border-radius: 2px;
}

.babybutton {
  background-color: #daa38b;
  font-size: 100%;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 2px;
  height: 5%;
  width: 30%;
  display: inline;
  align-self: center;
}

.newBaby {
  padding: 7px;
}

.createBabyButton {
  background-color: #daa38b;
  font-size: 100%;
  border: 2px solid black;
  border-radius: 10px;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.newBabyLabel {
  margin-top: 15px;
}

.newBabyInput {
  border-radius: 4px;
}

.rbc-header {
  margin: 0;
}

.momLog {
  background-color: #f7f7f7;
  height: 90%;
  max-height: 90%;
}

.diaperform {
  align-self: center;
  width: 80px;
}

.notesform {
  width: 150px;
}

input.notes {
  height: 18px;
  border-radius: 4px;
}

.calendar {
  height: 600px;
  background-color: #daa38b;
}

div.rbc-event.rbc-event-allday {
  background-color: #7bdff2;
}

div.rbc-event {
  background-color: #7bdff2;
}

a.rbc-show-more {
  color: #3a405a;
}

.momprof {
  padding-left: 7px;
  padding-right: 7px;
}

.imageupload {
  background-color: #daa38b;
  font-size: 100%;
  border: 2px solid black;
  border-radius: 10px;
  height: 18%;
  width: 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px 6px 3px 6px;
}

.week6 {
  background-size: 250px 400px;
  background-image: url("../data/BabySizes/pomegranate6.png");
  background-repeat: no-repeat;
  background-position: center;
}

.week7 {
  background-size: 250px 400px;
  background-image: url("../data/BabySizes/blueberry7.png");
  background-repeat: no-repeat;
  background-position: center;
}

.week8 {
  background-size: 200px 250px;
  background-image: url("../data/BabySizes/kidneybean8.png");
  background-repeat: no-repeat;
  background-position: center;
}

.week9 {
  background-size: 200px 250px;
  background-image: url("../data/BabySizes/grape9.png");
  background-repeat: no-repeat;
  background-position: center;
}

.week10 {
  background-size: 270px 320px;
  background-image: url("../data/BabySizes/Kumquat10.png");
  background-repeat: no-repeat;
  background-position: center;
}

.week11 {
  background-size: 250px 300px;
  background-image: url("../data/BabySizes/brussels11.gif");
  background-repeat: no-repeat;
  background-position: center;
}

.week12 {
  background-size: 250px 300px;
  background-image: url("../data/BabySizes/lime12.png");
  background-repeat: no-repeat;
  background-position: center;
}

.week13 {
  background-size: 250px 300px;
  background-image: url("../data/BabySizes/lemon13.png");
  background-repeat: no-repeat;
  background-position: center;
}

.week14 {
  background-size: 250px 300px;
  background-image: url("../data/BabySizes/Necatarine14.png");
  background-repeat: no-repeat;
  background-position: center;
}

.week15 {
  background-size: 250px 300px;
  background-image: url("../data/BabySizes/apple15.png");
  background-repeat: no-repeat;
  background-position: center;
}

.week16 {
  background-size: 250px 300px;
  background-image: url("../data/BabySizes/Avacado16.png");
  background-repeat: no-repeat;
  background-position: center;
}

.week17 {
  background-size: 250px 400px;
  background-image: url("../data/BabySizes/pear17.png");
  background-repeat: no-repeat;
  background-position: center;
}

.week18 {
  background-size: 250px 250px;
  background-image: url("../data/BabySizes/sweetpotato18.png");
  background-repeat: no-repeat;
  background-position: center;
}

.week19 {
  background-size: 220px 220px;
  background-image: url("../data/BabySizes/heirloomTomato19.png");
  background-repeat: no-repeat;
  background-position: center;
}

.week20 {
  background-size: 260px 260px;
  background-image: url("../data/BabySizes/banana20.png");
  background-repeat: no-repeat;
  background-position: center;
}

.week21 {
  background-size: 260px 260px;
  background-image: url("../data/BabySizes/carrot21.png");
  background-repeat: no-repeat;
  background-position: center;
}

.week22 {
  background-size: 230px 230px;
  background-image: url("../data/BabySizes/cucmber22.png");
  background-repeat: no-repeat;
  background-position: center;
}

.week23 {
  background-size: 230px 230px;
  background-image: url("../data/BabySizes/mango23.png");
  background-repeat: no-repeat;
  background-position: center;
}

.week24 {
  background-size: 230px 230px;
  background-image: url("../data/BabySizes/corn24.png");
  background-repeat: no-repeat;
  background-position: center;
}

.week25 {
  background-size: 230px 230px;
  background-image: url("../data/BabySizes/routabaga25.png");
  background-repeat: no-repeat;
  background-position: center;
}

.week26 {
  background-size: 230px 230px;
  background-image: url("../data/BabySizes/zucchini26.png");
  background-repeat: no-repeat;
  background-position: center;
}

.week27 {
  background-size: 250px 250px;
  background-image: url("../data/BabySizes/kale27.png");
  background-repeat: no-repeat;
  background-position: center;
}

.week28 {
  background-size: 250px 250px;
  background-image: url("../data/BabySizes/eggplant28.png");
  background-repeat: no-repeat;
  background-position: center;
}

.week29 {
  background-size: 250px 250px;
  background-image: url("../data/BabySizes/butternutsquash29.png");
  background-repeat: no-repeat;
  background-position: center;
}

.week30 {
  background-size: 230px 230px;
  background-image: url("../data/BabySizes/cabbage30.png");
  background-repeat: no-repeat;
  background-position: center;
}

.week31 {
  background-size: 230px 230px;
  background-image: url("../data/BabySizes/coconut31.png");
  background-repeat: no-repeat;
  background-position: center;
}

.week32 {
  background-size: 230px 230px;
  background-image: url("../data/BabySizes/Jicama32.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.week33 {
  background-size: 210px 300px;
  background-image: url("../data/BabySizes/pineapple33.png");
  background-repeat: no-repeat;
  background-position: center;
}

.week34 {
  background-size: 220px 260px;
  background-image: url("../data/BabySizes/cantaloupe34.png");
  background-repeat: no-repeat;
  background-position: center;
}

.week35 {
  background-size: 240px 240px;
  background-image: url("../data/BabySizes/honeydewmelon35.png");
  background-repeat: no-repeat;
  background-position: center;
}

.week36 {
  background-size: 240px 240px;
  background-image: url("../data/BabySizes/romanelettece36.png");
  background-repeat: no-repeat;
  background-position: center;
}

.week37 {
  background-size: 240px 320px;
  background-image: url("../data/BabySizes/papaya37.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.week38 {
  background-size: 300px 350px;
  background-image: url("../data/BabySizes/jackfruit38.png");
  background-repeat: no-repeat;
  background-position: center;
}

.week39 {
  background-size: 250px 300px;
  background-image: url("../data/BabySizes/miniwatermelon39.png");
  background-repeat: no-repeat;
  background-position: center;
}

.week40 {
  background-size: 250px 300px;
  background-image: url("../data/BabySizes/pumkin40.png");
  background-repeat: no-repeat;
  background-position: center;
}

